<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SapiKita - Deteksi Pola Kalung Sapi</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.min.css')}}">

</head>
<body>
    {% include 'include/navbar.html' %}

    {% include 'include/header.html'%}

    <section class="masthead text-center text-black d-flex">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto" id="hasil">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h1 class="text-uppercase">
            <strong>Hasil :</strong>
          </h1>
          <hr style="border-color:black" class="my-4">
          <h2>
            <strong>{{hasil}}</strong>
            <img  src="/ambil/{{ filename  }}"></img>
          </h2>
        </div>
        <div class="col-lg-8 mx-auto">
          
              
        </div>
      </div>
    </div>
    </section>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </div>
    <script src="{{url_for('static', filename='js/style.js')}}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>