<header class="masthead text-center text-white d-flex">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto" id="page-top">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h1 class="text-uppercase">
            <strong>Selamat Datang</strong>
          </h1>
          <hr style="border-color: white" class="my-4">
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Ekstraksi Pola pada Kalung Sapi dengan Menggunakan Hough Transform dengan Metode Klasifikasi Random Forest</p>
              <div>
                <button id="file" class="btn">Masukkan Gambar</button>
                <form role="form" method="POST" enctype="multipart/form-data" action="/"></form>
                  <input type="file" name="file" accept="image/png, image/jpeg, image/bmp">
              </form>
              </div>
          <br>
          <button class="btn btn-success">Cek Yuks</button>
        </div>
      </div>
    </div>
  </header>