<header class="masthead text-center text-white d-flex">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto" id="page-top">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h1 class="text-uppercase">
            <strong>Selamat Datang</strong>
          </h1>
          <hr style="border-color: white" class="my-4">
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Ekstraksi Pola pada Kalung Sapi dengan Menggunakan Hough Transform dengan Metode Klasifikasi Random Forest</p>
              <form  method="post" enctype="multipart/form-data">
                <!-- <button id="fileToUpload" type="file" name="file" class="btn">Masukkan Gambar</button> -->
                <input class="btn btn-success" type="file" name="file" id="fileToUpload">
                <input class="btn btn-success" type="submit" value="Cek Yuks">
            </form>
        </div>
      </div>
    </div>
  </header>